In [6]:
import pandas as pd
import os
import glob

In [12]:
path = '../data/raw/api_data_IN/'
files = glob.glob(os.path.join(path, '*.csv'))
data = []
for f in files:
    df = pd.read_csv(f).rename(columns={'City': 'location', 'Date': 'date'})
    df['date'] = pd.to_datetime(df['date'])
    df = df.set_index(['date', 'location'])[['CO', 'NO2', 'SO2', 'PM2_5']]
    data.append(df)

In [16]:
final = pd.concat(data)
final.columns = [f + '_openweather' for f in final.columns]
final = final.astype('float64')
final.to_csv('../data/cleaned/openweather.csv')
final.to_pickle('../data/cleaned/openweather.pkl')
final

,,CO_openweather,NO2_openweather,SO2_openweather,PM2_5_openweather
date,location,,,,
2020-11-24,Agartala,817.300000,10.467143,4.810000,76.442857
2020-11-25,Agartala,1083.970833,23.741250,3.515417,90.695417
2020-11-26,Agartala,1151.562500,24.502500,3.657500,96.861250
2020-11-27,Agartala,903.448750,23.724167,2.985000,75.847917
2020-11-28,Agartala,981.610417,20.355833,2.198750,102.716667
...,...,...,...,...,...
2022-07-21,Visakhapatnam,1302.878333,48.265000,153.543333,61.213333
2022-07-22,Visakhapatnam,819.166667,38.986250,70.750417,36.659167
2022-07-23,Visakhapatnam,633.358750,28.604167,46.829167,29.395833
2022-07-24,Visakhapatnam,723.203750,33.443750,66.856250,37.466667
2022-07-25,Visakhapatnam,900.665833,51.180417,117.381250,76.711250